#section-header {
    background-color: blue;
    color: white;
    padding: 5px;
    border: 5px solid black;
}

#accordion {
    width: 400px;
    background-color: yellow;
    margin: auto;
}

#section {
    padding: 5px;
}